export AWS_ACCESS_KEY_ID="<s3 access key id for terraform state bucket>"
export AWS_SECRET_ACCESS_KEY="<s3 access secret key id for terraform state bucket>"
export YC_TOKEN="$(yc iam create-token)"
export TF_VAR_gitlab_token="gitlab user token"
